/* Bubble Boxes Animation CSS */
.bubble-boxes{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: -10;
}
.bubble-boxes li{
    position: absolute;
    list-style: none;
    display: flex;
    width: 20px;
    height: 20px;
    background: rgba(168, 203, 249, 0.2);
    animation: animate 25s linear infinite;
    bottom: -800px;
}
.bubble-boxes li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0;
}
.bubble-boxes li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.bubble-boxes li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.bubble-boxes li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.bubble-boxes li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.bubble-boxes li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.bubble-boxes li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.bubble-boxes li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.bubble-boxes li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.bubble-boxes li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 12s;
}
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1200px) rotate(360deg);
        opacity: 0.3;
        /* animation-delay: 10s; */
        /* animation: square 25s infinite; */
        border-radius: 50%;
    }
}


/** Footer */
.footerLabel {
    font-style: italic;
    font-size: smaller;
}
.footer-absolute {
    bottom: 0;
    width: 100%;
    position: fixed;
}


/** Carousel */
.carousel-indicators li {
    background-color: #6dacd6;
}
.carousel-item {
    height: 30vh;
    min-height: 100px;
    background: no-repeat center center scroll;
    background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: -15px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #1bb2ec;
    text-align: center;
}

/** blog section */
.blogImageDiv {
    text-align: center;
}
.blogImageSpacing {
    height: 10px;
}
.blogAuthor {
    float: left;
    font-size: small;
    font-style: italic;
    font-family: cursive;
}
.blogDate {
    float: right;
    font-weight: bold;
}

/* popup-modal images on blog content */
#content img {
    width: 100%;
    cursor: pointer;
}
#content img:hover {
    opacity: 0.6;
}
  
